[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
certifi = "*"
#"zope.interface" = {version = ">=4.4.0", sys_platform = "== 'win32'"}
"zope.interface" = "*"
Twisted = {extras = ["tls"], version = ">=20.3.0"}
pem = "*"

[requires]
python_version = "3.8"

[scripts]
srv = "./syncplayServer.py"
build = "docker-compose build"
deploy = "docker-compose up"
prod = "docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d --build --remove-orphans"
prod-debug = "docker-compose -f docker-compose.yml -f docker-compose.prod.yml up --build --remove-orphans"
podman-build = "podman build -t syncplay-server ."
podman-copy = "podman save syncplay-server | sudo podman load"
podman-run = "sudo -E ./extras/podman.sh"
