[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
certifi = "*"
#"zope.interface" = {version = ">=4.4.0", sys_platform = "== 'win32'"}
"zope.interface" = "*"
Twisted = {extras = ["tls"], version = ">=20.3.0"}
pem = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python -m syncplay"
pex-build = "./extras/pex.sh"
pex-run = "./syncplay.pex"
podman-prod = "sudo -E ./extras/podman.sh"
# podman-copy = "podman save syncplay-server | sudo podman load"

[dev-packages]
pex = "*"
